* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: lightgrey; */
}
body{
    background-color: rgb(86, 85, 85);
}
#id {
  color: aliceblue;
  text-decoration: none;
}

.toolbox-cont {
  width: 100vw;
  height: 6rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.heading {
  color: aliceblue;
  padding-left: 30px;
  font-size: 30px;
}
.end {
  display: flex;
}
.toolbox-cont-color {
  height: 3rem;
  width: 18rem;
  background-color: rgb(86, 85, 85);
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.color {
  height: 2rem;
  width: 4rem;
  border: 2px solid black;
}

.r {
  background-color: red;
}

.y {
  background-color: orange;
}

.g {
  background-color: green;
}
.btn-function {
  height: 3rem;
  width: 8rem;
  background-color: rgb(86, 85, 85);
  margin-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.add-btn {
  font-size: 1.75rem;
}
.rm-btn {
  font-size: 1.6rem;
}

.modal-cont {
  height: 50vh;
  width: 50vw;
  border: none;
  background-color: lightslategray;
  display: none;
  position: fixed;
  left: 25vw;
  top: 25vh;
  border: 5px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* .textarea-cont {
  height: 100%;
  width: 75%;
  background-color: gray;
  outline: none;
  resize: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 2px solid rgb(66, 66, 75);
  color: wheat;
} */
.priority-color-cont {
  position: right;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.priorit-color {
  height: 3rem;
  width: 5rem;
  border: 3px solid black;
}
.main-cont {
  margin: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.ticket-cont {
  height: 10rem;
  width: 15rem;
  background-color: cornsilk;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.ticket-color {
  height: 1rem;
}

.ticket-id {
  height: 1.5rem;
  font-weight: bold;
  background-color: grey;
  display: flex;
  justify-content: center;
}

.ticket-area {
  height: calc(10rem - 1.5rem - 1rem);
  padding: 5px;
  font-size: 1.25rem;
  
}
.active {
  border: 5px solid yellow;
}
/* Your existing styles... */

.textarea-cont {
    height: 100%;
    width: 75%;
    background-color: gray;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    border: 2px solid rgb(66, 66, 75);
    color: wheat;
  }
  
  .textarea-cont::placeholder {
    color: #a0a0a0; /* Set your desired color for the placeholder text */
  }
  
  /* Your existing styles... */
  
